.side-panel {
  width: 90%;
  height: fit-content;
  overflow-y: auto;
  padding: 20px;
}

#job {
  overflow:hidden; 
  text-overflow: ellipsis;
  color: gray;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

button, a {
  width: 100%;
  padding: 10px;
  background-color: #74aa9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button:hover {
  background-color: #91bcb1;
}

#download {
  width: fit-content;
  float: inline-end;
}

#output {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
